@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
}

/* mixin home-page*/
/* préambule */
/* fonctionnement */
/* restaurant */
/* mixin menu-page*/
/* mixin home-page*/
/* préambule */
/* fonctionnement */
/* restaurant */
/* mixin menu-page*/
@media screen and (max-width: 600px) {
  .restaurants__page {
    background-color: #f6f6f6;
  }
  .menu {
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu .menu__category {
    width: 95%;
    margin: 0 13px 0 13px;
    animation: slidein2 3s alternate;
  }
  .menu .menu__category--title {
    position: relative;
    padding-bottom: 1%;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .menu .menu__category--title::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 40px;
    border-bottom: 3px solid #99e2d0;
  }
  .menu__title {
    font-family: "Shrikhand", serif;
    font-size: 24px;
  }
  .menu__item {
    margin-bottom: 15px;
    padding: 15px 0 15px 15px;
    background-color: white;
    height: 90px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* !!!!!! A faire !!!!!! */
  }
  .menu__item--title, .menu__item--accompagnement {
    margin: 0;
  }
  .menu__item--description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    flex: 1;
    gap: 1rem;
  }
  .menu__button {
    border-radius: 25px;
    border: none;
    font-size: 16px;
    padding: 0 5% 0 5%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
    height: 50px;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    color: white;
    margin-bottom: 57px;
    cursor: pointer;
  }
  .menu__header {
    display: flex;
    width: 100%;
    align-content: stretch;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
    gap: 24px;
    font-family: "Shrikhand", serif;
  }
  .fav-toggle {
    display: none;
  }
  .menu__fav {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .menu__fav i {
    font-size: 24px;
    color: black;
    transition: color 0.3s;
  }
  .fav-toggle:checked + .menu__fav::before {
    content: "\f004"; /* Code unicode pour le cœur rempli */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 25px;
    position: absolute;
    bottom: 2px;
    height: 100%;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .menu__img {
    width: 100%;
    height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu__item--text {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu__item--price {
    font-weight: 600;
    display: flex;
    align-items: flex-end;
  }
  .menu__item:hover .menu__item--check {
    background: #99e2d0;
    height: 90px;
    width: 0;
    opacity: 0;
    margin-left: 100%;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
    animation: slidein 1s forwards;
  }
  .menu__item:hover .menu__item--check_dessert {
    background: #99e2d0;
    height: 90px;
    width: 0;
    opacity: 0;
    margin-left: 100%;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
    animation: slidein 1s forwards;
  }
  .span {
    color: white;
    transform: rotate(360deg);
    transition: 0.4s ease-in-out;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 0;
      opacity: 0;
    }
    to {
      margin-left: 10px;
      width: 59px;
      opacity: 1;
    }
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .restaurants__page {
    background-color: #f6f6f6;
  }
  .menu {
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
  }
  .menu__title {
    font-family: "Shrikhand", serif;
    font-size: 24px;
  }
  .menu .fav-toggle {
    display: none;
  }
  .menu .menu__fav {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .menu .menu__fav i {
    font-size: 24px;
    color: black;
    transition: color 0.3s;
  }
  .menu .fav-toggle:checked + .menu__fav::before {
    content: "\f004";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 24px;
    position: absolute;
    bottom: -1px;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .menu .menu__category {
    width: 95%;
    margin: 0 13px 0 13px;
    animation: slidein2 3s alternate;
  }
  .menu .menu__category--title {
    position: relative;
    padding-bottom: 1%;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .menu .menu__category--title::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 40px;
    border-bottom: 3px solid #99e2d0;
  }
  .menu__title {
    display: inline-block;
  }
  .menu__item {
    margin-bottom: 15px;
    padding: 15px 0 15px 15px;
    background-color: white;
    height: 90px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .menu__item--title, .menu__item--accompagnement {
    margin: 0;
  }
  .menu__item--description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    flex: 1;
    gap: 1rem;
  }
  .menu__button {
    border-radius: 25px;
    border: none;
    font-size: 16px;
    padding: 0 5% 0 5%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
    height: 50px;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    color: white;
    margin-bottom: 57px;
    cursor: pointer;
    margin-top: 30px;
  }
  .menu__img {
    width: 100%;
    height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu__item--text {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu__item--price {
    font-weight: 600;
    display: flex;
    align-items: flex-end;
  }
  .menu__item:hover .menu__item::before .menu__item--check {
    background: #99e2d0;
    height: 90px;
    width: 0;
    opacity: 0;
    margin-left: 100%;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }
  .span {
    color: white;
    transform: rotate(360deg);
    transition: 0.4s ease-in-out;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 0;
      opacity: 0;
    }
    to {
      margin-left: 10px;
      width: 59px;
      opacity: 1;
    }
  }
}
@media screen and (min-width: 1025px) {
  .menu {
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 12%;
    width: 75%;
    bottom: 0;
  }
  .menu .menu__category {
    width: 95%;
    margin: 0 13px 0 13px;
    animation: slidein2 3s alternate;
  }
  .menu .menu__category--title {
    position: relative;
    padding-bottom: 1%;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .menu .menu__category--title::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 40px;
    border-bottom: 3px solid #99e2d0;
    animation: slidein3 3s ease-in-out;
  }
  .menu__title {
    display: inline-block;
  }
  .menu__item {
    margin-bottom: 15px;
    padding: 15px 0 15px 15px;
    background-color: white;
    height: 90px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .menu__item--title, .menu__item--accompagnement {
    margin: 0;
  }
  .menu__item--description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    flex: 1;
    gap: 1rem;
  }
  .menu .fav-toggle {
    display: none;
  }
  .menu .menu__fav {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .menu .menu__fav i {
    font-size: 24px;
    color: black;
    transition: color 0.3s;
  }
  .menu .fav-toggle:checked + .menu__fav::before {
    content: "\f004";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 25px;
    position: absolute;
    bottom: 2px;
    height: 100%;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .menu__button {
    border-radius: 25px;
    border: none;
    font-size: 16px;
    padding: 0 5% 0 5%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
    height: 50px;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    color: white;
    margin-bottom: 57px;
    cursor: pointer;
  }
  .menu__img {
    width: 100%;
    height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    top: 25px;
    height: 385px;
  }
  .menu__item--text {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu__item--price {
    font-weight: 600;
    display: flex;
    align-items: flex-end;
  }
  .menu__item:hover .menu__item--check {
    background: #99e2d0;
    height: 90px;
    width: 0;
    opacity: 0;
    margin-left: 100%;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slidein 1s forwards;
  }
  .span {
    color: white;
    transform: rotate(-360deg);
    transition: 5s ease-in-out;
  }
}
.loader {
  animation-duration: 0.1;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 0;
    opacity: 0;
  }
  to {
    margin-left: 10px;
    width: 59px;
    opacity: 1;
  }
}
@keyframes slidein2 {
  from {
    margin-bottom: 100%;
    width: 0;
  }
  to {
    margin: 0;
  }
}
@keyframes slidein3 {
  from {
    width: 100%;
    opacity: 0;
  }
  to {
    width: 60px;
    opacity: 1;
    width: 40px;
  }
}
/* mixin home-page*/
/* préambule */
/* fonctionnement */
/* restaurant */
/* mixin menu-page*/
@media screen and (max-width: 600px) {
  .footer {
    background: #353535;
    color: white;
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .footer__logo {
    width: 30%;
    height: 20%;
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(320deg) brightness(102%) contrast(107%);
  }
  .footer__content {
    list-style: none;
    padding: 0;
  }
  .footer__list {
    line-height: 25px;
  }
  .footer__icon {
    width: 9px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .footer {
    background: #353535;
    color: white;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__logo {
    width: 30%;
    height: 20%;
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(320deg) brightness(102%) contrast(107%);
  }
  .footer__content {
    list-style: none;
    padding: 0;
  }
  .footer__list {
    line-height: 25px;
  }
  .footer__icon {
    width: 9px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1025px) {
  .footer {
    background: #353535;
    color: white;
    padding: 22px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer__logo {
    width: 8%;
    height: 8%;
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(320deg) brightness(102%) contrast(107%);
  }
  .footer__content {
    display: flex;
    width: 50%;
    list-style: none;
    padding: 0;
    justify-content: space-around;
  }
  .footer__list {
    line-height: 25px;
  }
  .footer__icon {
    width: 9px;
    margin-right: 15px;
  }
}
/* mixin home-page*/
/* préambule */
/* fonctionnement */
/* restaurant */
/* mixin menu-page*/
@media screen and (max-width: 600px) {
  .header {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__logo {
    font-family: "Shrikhand", serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0 10px 0;
  }
  .header .location {
    background-color: #eaeaea;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1490196078) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .header .location__icon {
    margin-right: 15px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1025px) {
  .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .header__logo {
    font-family: "Shrikhand", serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0 10px 0;
  }
  .header .location {
    background-color: #eaeaea;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1490196078) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .header .location__icon {
    margin-right: 15px;
  }
}
.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.header__logo {
  font-family: "Shrikhand", serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  margin: 10px 0 10px 0;
}
.header .location {
  background-color: #eaeaea;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1490196078) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.header .location__icon {
  margin-right: 15px;
}

/* mixin home-page*/
/* préambule */
/* fonctionnement */
/* restaurant */
/* mixin menu-page*/
@media screen and (max-width: 600.99px) {
  .header__page {
    background-color: white;
    gap: 20%;
  }
  .header__page__nav {
    display: flex;
    justify-content: flex-start;
    gap: 20%;
    align-items: center;
    flex-wrap: wrap;
  }
  .header__page__logo {
    font-family: "Shrikhand", serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
  }
  .header__page__return {
    font-size: 24px;
    margin-left: 23px;
    color: black;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .header__page__nav {
    display: flex;
    justify-content: flex-start;
    gap: 20%;
    align-items: center;
    flex-wrap: wrap;
    gap: 35%;
    height: 60px;
  }
  .header__page__logo {
    font-family: "Shrikhand", serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
  }
  .header__page__return {
    font-size: 24px;
    margin-left: 23px;
    color: black;
  }
}
@media screen and (min-width: 1025px) {
  .header__page {
    padding-top: 15px;
  }
  .header__page__nav {
    display: flex;
    justify-content: flex-start;
    gap: 20%;
    align-items: center;
    flex-wrap: wrap;
    gap: 40%;
  }
  .header__page__logo {
    font-family: "Shrikhand", serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
  }
  .header__page__return {
    font-size: 24px;
    margin-left: 23px;
    color: black;
  }
}
/* mixin home-page*/
/* préambule */
/* fonctionnement */
/* restaurant */
/* mixin menu-page*/
@media screen and (max-width: 600px) {
  .préambule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
  }
  .préambule__title {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
  }
  .préambule__content {
    width: 75%;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
  }
  .préambule__form {
    display: flex;
    width: 300px;
    justify-content: center;
  }
  .préambule__button {
    border-radius: 25px;
    border: none;
    font-size: 16px;
    padding: 0 5% 0 5%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
    height: 50px;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    color: white;
    margin-bottom: 57px;
    cursor: pointer;
  }
  .fonctionnement {
    position: relative;
  }
  .fonctionnement__title {
    font-size: 24px;
    margin-left: 20px;
  }
  .fonctionnement__list {
    list-style: none;
    counter-reset: item;
    padding: 0;
    margin: 0 20px 0 20px;
    border-radius: 15px;
  }
  .fonctionnement__icon {
    padding-left: 22px;
    color: #7e7e7e;
  }
  .fonctionnement__icon--purple {
    color: #9356dc;
  }
  .fonctionnement__item {
    height: 73px;
    background: #f6f6f6;
    border-radius: 20px;
    margin: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    font-weight: 500;
  }
  .fonctionnement__item::before {
    content: counters(item, "") " ";
    counter-increment: item;
    border-radius: 50%;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30px;
    color: #f6f6f6;
    background: #9356dc;
  }
  .restaurants {
    background-color: #f6f6f6;
  }
  .restaurants__title {
    font-size: 24px;
    margin: 0 0 0 20px;
    padding-top: 54px;
  }
  .restaurants__list {
    margin: 18px 18px 0 18px;
    padding-bottom: 66px;
  }
  .restaurants__link {
    text-decoration: none;
  }
  .restaurants__article {
    background-color: #ffffff;
    border-radius: 15px;
    color: black;
    position: relative;
    margin-bottom: 18px;
  }
  .restaurants__img {
    border-radius: 15px 15px 0 0;
    height: 251px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__new {
    padding: 7px 9px 7px 9px;
    background: #99e2d0;
    color: #008766;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .restaurants__name {
    margin: 16px 0 5px 13px;
    font-size: 18px;
    font-weight: 700;
  }
  .restaurants__location {
    display: inline-block;
    margin: 0 0 12px 13px;
    font-size: 17px;
    font-weight: 300;
  }
  .restaurants__fav {
    position: absolute;
    bottom: 33px;
    right: 25px;
    font-size: 21px;
    font-weight: 100;
    cursor: pointer;
  }
  .restaurants .fav-toggle {
    display: none;
  }
  .restaurants .restaurants__fav {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    bottom: 33px;
    right: 30px;
  }
  .restaurants .restaurants__fav i {
    font-size: 24px;
    color: black;
    transition: color 0.3s;
  }
  .restaurants .fav-toggle:checked + .restaurants__fav::before {
    content: "\f004";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 25px;
    position: absolute;
    top: -2px;
    left: 0;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .préambule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
  }
  .préambule__title {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
  }
  .préambule__content {
    width: 75%;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
  }
  .préambule__form {
    display: flex;
    width: 300px;
    justify-content: center;
  }
  .préambule__button {
    border-radius: 25px;
    border: none;
    font-size: 16px;
    padding: 0 5% 0 5%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
    height: 50px;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    color: white;
    margin-bottom: 57px;
    cursor: pointer;
  }
  .fonctionnement {
    position: relative;
  }
  .fonctionnement__title {
    font-size: 24px;
    margin-left: 20px;
  }
  .fonctionnement__list {
    list-style: none;
    counter-reset: item;
    padding: 0;
    margin: 0 20px 0 20px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-content: unset;
    align-items: unset;
  }
  .fonctionnement__icon {
    padding-left: 22px;
    color: #7e7e7e;
  }
  .fonctionnement__icon--purple {
    color: #9356dc;
  }
  .fonctionnement__item {
    height: 73px;
    background: #f6f6f6;
    border-radius: 20px;
    margin: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    font-weight: 500;
    width: 44%;
    position: relative;
    margin: 18px;
    gap: 8px;
    padding-right: 10px;
  }
  .fonctionnement__item::before {
    content: counters(item, "") " ";
    counter-increment: item;
    border-radius: 50%;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30px;
    color: #f6f6f6;
    background: #9356dc;
    position: relative;
    left: -11px;
  }
  .restaurants {
    background-color: #f6f6f6;
  }
  .restaurants__title {
    font-size: 24px;
    margin: 0 0 0 20px;
    padding-top: 54px;
  }
  .restaurants__list {
    margin: 18px 18px 0 18px;
    padding-bottom: 66px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px 18px 0 18px;
  }
  .restaurants__link {
    text-decoration: none;
    width: 45%;
  }
  .restaurants__article {
    background-color: #ffffff;
    border-radius: 15px;
    color: black;
    position: relative;
    margin-bottom: 18px;
  }
  .restaurants__img {
    border-radius: 15px 15px 0 0;
    height: 251px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__new {
    padding: 7px 9px 7px 9px;
    background: #99e2d0;
    color: #008766;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .restaurants__name {
    margin: 16px 0 5px 13px;
    font-size: 18px;
    font-weight: 700;
  }
  .restaurants__location {
    display: inline-block;
    margin: 0 0 12px 13px;
    font-size: 17px;
    font-weight: 300;
  }
  .restaurants__fav {
    position: absolute;
    bottom: 33px;
    right: 25px;
    font-size: 21px;
    font-weight: 100;
    cursor: pointer;
  }
  .restaurants .fav-toggle {
    display: none;
  }
  .restaurants .restaurants__fav {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    bottom: 25px;
    right: 25px;
  }
  .restaurants .restaurants__fav i {
    font-size: 24px;
    color: black;
    transition: color 0.3s;
  }
  .restaurants .fav-toggle:checked + .restaurants__fav::before {
    content: "\f004";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 25px;
    position: absolute;
    bottom: 3px;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__logo {
    font-family: "Shrikhand", serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0 10px 0;
  }
  .header .location {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1490196078) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .header .location__icon {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1025px) {
  .préambule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
  }
  .préambule__title {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
  }
  .préambule__title br {
    display: none;
  }
  .préambule__content {
    width: 75%;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
  }
  .préambule__content br {
    display: none;
  }
  .préambule__form {
    display: flex;
    width: 300px;
    justify-content: center;
  }
  .préambule__button {
    border-radius: 25px;
    border: none;
    font-size: 16px;
    padding: 0 5% 0 5%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
    height: 50px;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    color: white;
    margin-bottom: 57px;
    cursor: pointer;
  }
  .fonctionnement {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .fonctionnement__title {
    font-size: 24px;
    margin-left: 20px;
  }
  .fonctionnement__list {
    list-style: none;
    counter-reset: item;
    padding: 0;
    margin: 0 20px 0 20px;
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: unset;
    margin: 0;
  }
  .fonctionnement__icon {
    padding-left: 22px;
    color: #7e7e7e;
  }
  .fonctionnement__icon--purple {
    color: #9356dc;
  }
  .fonctionnement__item {
    height: 73px;
    background: #f6f6f6;
    border-radius: 20px;
    margin: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    font-weight: 500;
    position: relative;
    margin: 10px;
    padding-right: 30px;
    width: 325px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1123px) {
  .fonctionnement__item {
    width: 280px;
  }
}
@media screen and (min-width: 1025px) {
  .fonctionnement__item::before {
    content: counters(item, "") " ";
    counter-increment: item;
    border-radius: 50%;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30px;
    color: #f6f6f6;
    background: #9356dc;
    left: -9px;
  }
  .restaurants {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .restaurants__title {
    font-size: 24px;
    margin: 0 0 0 20px;
    padding-top: 54px;
    margin: 0 0 0 5px;
  }
  .restaurants__list {
    margin: 18px 18px 0 18px;
    padding-bottom: 66px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 3%;
  }
  .restaurants__link {
    text-decoration: none;
    height: 315px;
  }
  .restaurants__link:hover {
    scale: 1.1;
    z-index: 1;
  }
  .restaurants__article {
    background-color: #ffffff;
    border-radius: 15px;
    color: black;
    position: relative;
    margin-bottom: 18px;
    width: 490px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1123px) {
  .restaurants__article {
    width: 447px;
  }
}
@media screen and (min-width: 1025px) {
  .restaurants__img {
    border-radius: 15px 15px 0 0;
    height: 251px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 231px;
  }
  .restaurants__new {
    padding: 7px 9px 7px 9px;
    background: #99e2d0;
    color: #008766;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .restaurants__name {
    margin: 16px 0 5px 13px;
    font-size: 18px;
    font-weight: 700;
  }
  .restaurants__location {
    display: inline-block;
    margin: 0 0 12px 13px;
    font-size: 17px;
    font-weight: 300;
  }
  .restaurants__fav {
    position: absolute;
    bottom: 33px;
    right: 25px;
    font-size: 21px;
    font-weight: 100;
    cursor: pointer;
  }
  .restaurants .fav-toggle {
    display: none;
  }
  .restaurants .restaurants__fav {
    cursor: pointer;
  }
  .restaurants .restaurants__fav i {
    font-size: 24px;
    color: black;
    transition: color 0.3s;
  }
  .restaurants .fav-toggle:checked + .restaurants__fav::before {
    content: "\f004";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: relative;
    font-size: 24px;
    top: 0;
    left: 24px;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
.loader {
  background: linear-gradient(to bottom right, #9356dc, #ff79da 123.93%);
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  gap: 30px;
  top: 0;
  left: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: loaderAN ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}

.loader span img {
  font-family: "Shrikhand", serif;
  font-size: 65px;
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(320deg) brightness(102%) contrast(107%);
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}

.spinner2 {
  height: 60px;
  width: 60px;
  border: 6px solid;
  border-color: purple transparent purple transparent;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  animation: scalanim 2s linear infinite;
}

@keyframes scalanim {
  0% {
    scale: 1;
  }
  50% {
    scale: 2;
  }
  100% {
    scale: 1;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes loaderAN {
  0% {
    opacity: 1;
    visibility: visible;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes colorchange {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}