@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/* mixin home-page*/
/* préambule */
/* fonctionnement */
/* restaurant */
/* mixin menu-page*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@media screen and (max-width: 600px) {
  .restaurants__page {
    background-color: #F6F6F6;
  }
  .menu {
    background-color: #F6F6F6;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu .menu__category {
    width: 95%;
    margin: 0 13px 0 13px;
    animation: slidein2 3s alternate;
  }
  .menu .menu__category--title {
    position: relative;
    padding-bottom: 1%;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .menu .menu__category--title::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 40px;
    border-bottom: 3px solid #99e2d0;
  }
  .menu__title {
    font-family: "Shrikhand", serif;
    font-size: 24px;
  }
  .menu__item {
    margin-bottom: 15px;
    padding: 15px 0 15px 15px;
    background-color: white;
    height: 90px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* !!!!!! A faire !!!!!! */
  }
  .menu__item--title, .menu__item--accompagnement {
    margin: 0;
  }
  .menu__item--description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    flex: 1;
    gap: 1rem;
  }
  .menu__button {
    border-radius: 25px;
    border: none;
    font-size: 16px;
    padding: 0 5% 0 5%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
    height: 50px;
    background: linear-gradient(353deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: white;
    margin-bottom: 57px;
    cursor: pointer;
  }
  .menu__header {
    display: flex;
    width: 100%;
    align-content: stretch;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
    gap: 24px;
    font-family: "Shrikhand", serif;
  }
  .fav-toggle {
    display: none;
  }
  .menu__fav {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .menu__fav i {
    font-size: 24px;
    color: black;
    transition: color 0.3s;
  }
  .fav-toggle:checked + .menu__fav::before {
    content: "\f004"; /* Code unicode pour le cœur rempli */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 25px;
    position: absolute;
    bottom: 2px;
    height: 100%;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .menu__img {
    width: 100%;
    height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu__item--text {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu__item--price {
    font-weight: 600;
    display: flex;
    align-items: flex-end;
  }
  .menu__item:hover .menu__item--check {
    background: #99e2d0;
    height: 90px;
    width: 0;
    opacity: 0;
    margin-left: 100%;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
    animation: slidein 1s forwards;
  }
  .menu__item:hover .menu__item--check_dessert {
    background: #99e2d0;
    height: 90px;
    width: 0;
    opacity: 0;
    margin-left: 100%;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
    animation: slidein 1s forwards;
  }
  .span {
    color: white;
    transform: rotate(360deg);
    transition: 0.4s ease-in-out;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 0;
      opacity: 0;
    }
    to {
      margin-left: 10px;
      width: 59px;
      opacity: 1;
    }
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .restaurants__page {
    background-color: #F6F6F6;
  }
  .menu {
    background-color: #F6F6F6;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
  }
  .menu__title {
    font-family: "Shrikhand", serif;
    font-size: 24px;
  }
  .menu .fav-toggle {
    display: none;
  }
  .menu .menu__fav {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .menu .menu__fav i {
    font-size: 24px;
    color: black;
    transition: color 0.3s;
  }
  .menu .fav-toggle:checked + .menu__fav::before {
    content: "\f004";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 24px;
    position: absolute;
    bottom: -1px;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .menu .menu__category {
    width: 95%;
    margin: 0 13px 0 13px;
    animation: slidein2 3s alternate;
  }
  .menu .menu__category--title {
    position: relative;
    padding-bottom: 1%;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .menu .menu__category--title::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 40px;
    border-bottom: 3px solid #99e2d0;
  }
  .menu__title {
    display: inline-block;
  }
  .menu__item {
    margin-bottom: 15px;
    padding: 15px 0 15px 15px;
    background-color: white;
    height: 90px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .menu__item--title, .menu__item--accompagnement {
    margin: 0;
  }
  .menu__item--description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    flex: 1;
    gap: 1rem;
  }
  .menu__button {
    border-radius: 25px;
    border: none;
    font-size: 16px;
    padding: 0 5% 0 5%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
    height: 50px;
    background: linear-gradient(353deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: white;
    margin-bottom: 57px;
    cursor: pointer;
    margin-top: 30px;
  }
  .menu__img {
    width: 100%;
    height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu__item--text {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu__item--price {
    font-weight: 600;
    display: flex;
    align-items: flex-end;
  }
  .menu__item:hover .menu__item::before .menu__item--check {
    background: #99e2d0;
    height: 90px;
    width: 0;
    opacity: 0;
    margin-left: 100%;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }
  .span {
    color: white;
    transform: rotate(360deg);
    transition: 0.4s ease-in-out;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 0;
      opacity: 0;
    }
    to {
      margin-left: 10px;
      width: 59px;
      opacity: 1;
    }
  }
}
@media screen and (min-width: 1025px) {
  .menu {
    background-color: #F6F6F6;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 12%;
    width: 75%;
    bottom: 0;
  }
  .menu .menu__category {
    width: 95%;
    margin: 0 13px 0 13px;
    animation: slidein2 3s alternate;
  }
  .menu .menu__category--title {
    position: relative;
    padding-bottom: 1%;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .menu .menu__category--title::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 40px;
    border-bottom: 3px solid #99e2d0;
    animation: slidein3 3s ease-in-out;
  }
  .menu__title {
    display: inline-block;
  }
  .menu__item {
    margin-bottom: 15px;
    padding: 15px 0 15px 15px;
    background-color: white;
    height: 90px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .menu__item--title, .menu__item--accompagnement {
    margin: 0;
  }
  .menu__item--description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    flex: 1;
    gap: 1rem;
  }
  .menu .fav-toggle {
    display: none;
  }
  .menu .menu__fav {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .menu .menu__fav i {
    font-size: 24px;
    color: black;
    transition: color 0.3s;
  }
  .menu .fav-toggle:checked + .menu__fav::before {
    content: "\f004";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 25px;
    position: absolute;
    bottom: 2px;
    height: 100%;
    background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .menu__button {
    border-radius: 25px;
    border: none;
    font-size: 16px;
    padding: 0 5% 0 5%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
    height: 50px;
    background: linear-gradient(353deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: white;
    margin-bottom: 57px;
    cursor: pointer;
  }
  .menu__img {
    width: 100%;
    height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    top: 25px;
    height: 385px;
  }
  .menu__item--text {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu__item--price {
    font-weight: 600;
    display: flex;
    align-items: flex-end;
  }
  .menu__item:hover .menu__item--check {
    background: #99e2d0;
    height: 90px;
    width: 0;
    opacity: 0;
    margin-left: 100%;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slidein 1s forwards;
  }
  .span {
    color: white;
    transform: rotate(-360deg);
    transition: 5s ease-in-out;
  }
}
.loader {
  animation-duration: 0.1;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 0;
    opacity: 0;
  }
  to {
    margin-left: 10px;
    width: 59px;
    opacity: 1;
  }
}
@keyframes slidein2 {
  from {
    margin-bottom: 100%;
    width: 0;
  }
  to {
    margin: 0;
  }
}
@keyframes slidein3 {
  from {
    width: 100%;
    opacity: 0;
  }
  to {
    width: 60px;
    opacity: 1;
    width: 40px;
  }
}