@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

$main-color: #f6f6f6;
$location-color: #eaeaea;
$footer-color: #353535;
$button-radiant: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
$fonctionnement-second-color: #9356dc;
$fonctionnement-logo-color: #7e7e7e;
