@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

$main-color:#F6F6F6;
$location-color:#EAEAEA;
$footer-color:#353535;
$button-radiant:linear-gradient(353deg, #9356DC -11.44%, #FF79DA 123.93%);
$fonctionnement-second-color:#9356DC;
$fonctionnement-logo-color:#7E7E7E;
