// Importation des mixins et variables SCSS
@import "/scss/utils/mixin.scss";
@import "/scss/utils/variable.scss";
// Media query pour les écrans de largeur maximale de 600px
@media screen and (max-width: 600px) {
    // Styles pour la section préambule
  .préambule {
    // Inclusion des styles de base pour préambule
    @include préambule;
    // Inclusion des styles de titre pour préambule
    &__title {
      @include préambule-title;
    }
     // Inclusion des styles de contenu pour préambule
    &__content {
      @include préambule-content;
    }
    // Inclusion des styles de formulaire pour préambule
    &__form {
      @include préambule-form;
    }
    // Inclusion des styles de bouton arrondi
    &__button {
      @include button-rounded;
    }
  }
  // Styles pour la section fonctionnement
  .fonctionnement {
     // Inclusion des styles de base pour fonctionnement
    @include fonctionnement;
    // Inclusion des styles de titre pour fonctionnement
    &__title {
      @include fonctionnement-title;
    }
    // Inclusion des styles de liste pour fonctionnement
    &__list {
      @include fonctionnement-list;
    }
     // Inclusion des styles d'icône pour fonctionnement
    &__icon {
      @include fonctionnement-icon;
    }
    // Couleur secondaire pour icône spécifique
    &__icon--purple {
      color: $fonctionnement-second-color;
    }
    &__item {
      // Inclusion des styles d'élément pour fonctionnement
      @include fonctionnement-item;
      // Animation pour l'entrée de gauche
      -webkit-animation: bounce-in-left 1.1s both;
	        animation: bounce-in-left 1.1s both;
      &:nth-child(1){
        // Délai d'animation pour le premier élément
        animation-delay: 2s;
      }
      &:nth-child(2){
        // Délai d'animation pour le deuxième élément
        animation-delay: 2.9s;
      }
      &:nth-child(3){
        // Délai d'animation pour le troisième élément
        animation-delay: 3.8s;
      }
      /* ----------------------------------------------
 * Generated by Animista on 2024-6-10 10:58:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-left
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

    }
        // Inclusion des styles de compteur pour élément
    &__item::before {
      @include fonctionnement-item-counter;
       // Positionnement du compteur
      left: -8px;

    }

  }
    // Styles pour la section restaurants
  .restaurants {
    // Inclusion des styles de base pour restaurants
    @include restaurant;

    &__title {
       // Inclusion des styles de titre pour restaurants
      @include restaurant-title;
    }
    &__list {
       // Inclusion des styles de liste pour restaurants
      @include restaurant-list;
    }
    &__link {
      // Inclusion des styles de lien pour restaurants
      @include restaurant-link;
    }
    &__article {
      // Inclusion des styles d'article pour restaurants
      @include restaurant-article;
    }
    &__img {
// Inclusion des styles d'image pour restaurants
      @include restaurant-img;
    }

    &__new {
       // Inclusion des styles pour les nouveaux restaurants
      @include restaurant-new;
    }
    &__name {
       // Inclusion des styles de nom pour restaurants
      @include restaurant-name;
    }
    &__location {
      // Inclusion des styles de localisation pour restaurants
      @include restaurant-location;
    }
    &__fav {
       // Inclusion des styles de favoris pour restaurants
      @include restaurant-fav;
    }
    // Style de l'icon favori 
    .fav-toggle {
      display: none;
    }

    .restaurants__fav {
      position: absolute;
      display: inline-block;
      cursor: pointer;
      bottom: 33px;
      right: 30px;
    }

    .restaurants__fav i {
      font-size: 24px;
      color: black;
      transition: color 0.3s;
    }

    .fav-toggle:checked + .restaurants__fav::before {
      content: "\f004";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      font-size: 25px;
      position: absolute;
      top: -2px;
      left: 0;
      background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
}
// Media query pour les écrans de largeur entre 601px et 1024px
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .préambule {
    @include préambule;
    &__title {
      @include préambule-title;
    }
    &__content {
      @include préambule-content;
    }
    &__form {
      @include préambule-form;
    }
    &__button {
      @include button-rounded;
    }
  }

  .fonctionnement {
    @include fonctionnement;

    &__title {
      @include fonctionnement-title;
    }
    &__list {
      @include fonctionnement-list;
      @include row-wrap-content;
      align-content: unset;
      align-items: unset;

    }
    &__icon {
      @include fonctionnement-icon;
    }
    &__icon--purple {
      color: $fonctionnement-second-color;
    }
    &__item {
      @include fonctionnement-item;
      width: 44%;
      position: relative;
      margin: 18px;
      gap: 8px;
      padding-right: 10px;
    }
    &__item::before {
      @include fonctionnement-item-counter;
      position: relative;
      left: -11px;
    }
  }

  .restaurants {
    @include restaurant;

    &__title {
      @include restaurant-title;
    }
    &__list {
      @include restaurant-list;
      @include row-wrap-content;
      gap: 30px;
      margin: 40px 18px 0 18px;
    }
    &__link {
      @include restaurant-link;
    }
    &__article {
      @include restaurant-article;
            width: 45%;

    }
    &__img {
      @include restaurant-img;
    }

    &__new {
      @include restaurant-new;
    }
    &__name {
      @include restaurant-name;
    }
    &__location {
      @include restaurant-location;
    }
    &__fav {
      @include restaurant-fav;
    }
    .fav-toggle {
      display: none;
    }

    .restaurants__fav {
      position: absolute;
      display: inline-block;
      cursor: pointer;
      bottom: 25px;
      right: 25px;
    }

    .restaurants__fav i {
      font-size: 24px;
      color: black;
      transition: color 0.3s;
    }

    .fav-toggle:checked + .restaurants__fav::before {
      content: "\f004";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      font-size: 25px;
      position: absolute;
      bottom: -1px;
      background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
  .header {
    width: 100%;
    @include column-center-content;
    &__logo {
      @include header-logo;
      margin: 10px 0 10px 0;
    }
    &__location {
      background-color: $location-color;

      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      box-shadow: 0px 4px 10px #00000026 inset, 0px 4px 4px 0px #00000040;
      &__icon {
        margin-right: 15px;
      }
    }
  }
}
// Media query pour les écrans de largeur supérieure à 1024px
@media screen and (min-width: 1025px) {
  .préambule {
    @include préambule;
    &__title {
      @include préambule-title;
      br {
        display: none;
      }
      font-size: 40px;
      margin-bottom: 18px;
    }
    &__content {
      @include préambule-content;
      br {
        display: none;
      }
    }
    &__form {
      @include préambule-form;
    }
    &__button {
      @include button-rounded;
    }
  }
  .fonctionnement {
    @include fonctionnement;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 30px;


    &__title {
      @include fonctionnement-title;
    }
    &__list {
      @include fonctionnement-list;
      display: flex;
      flex-wrap: nowrap;
      justify-content: unset;
      margin: 0;

    }
    &__icon {
      @include fonctionnement-icon;
    }
    &__icon--purple {
      color: $fonctionnement-second-color;
    }
    &__item {
      @include fonctionnement-item;
      position: relative;
      margin: 10px;
      padding-right: 30px;
      width: 325px;
      -webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
      &:nth-child(1){
        animation-delay: 2s;
      }
      &:nth-child(2){
        animation-delay: 2.9s;
      }
      &:nth-child(3){
        animation-delay: 3.8s;
      }
      /* ----------------------------------------------
 * Generated by Animista on 2024-6-10 10:17:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

      @media screen and (max-width: 1123px) {
        width: 280px;
      }
    }
    &__item::before {
      @include fonctionnement-item-counter;
      left: -9px;
    }
  }
  .restaurants {
    @include restaurant;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    &__title {
      @include restaurant-title;
      margin: 0 0 0 5px;
    }
    &__list {
      @include restaurant-list;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      gap: 3%;
    }
    &__link {
      @include restaurant-link;
      height: 315px;
   
    }
    &__article {
      @include restaurant-article;
      width: 490px;
      &:hover {
        scale: 1.1;
        z-index: 1;
      }
      @media screen and (max-width: 1123px) {
        width: 447px;
      }
    }
    &__img {
      @include restaurant-img;
      height: 231px;
    }

    &__new {
      @include restaurant-new;
    }
    &__name {
      @include restaurant-name;
    }
    &__location {
      @include restaurant-location;
    }
    &__fav {
      @include restaurant-fav;
    }
    .fav-toggle {
      display: none;
    }
    .restaurants__fav {
      cursor: pointer;
    }

    .restaurants__fav i {
      font-size: 24px;
      color: black;
      transition: color 0.3s;
    }

    .fav-toggle:checked + .restaurants__fav::before {
      content: "\f004";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      position: relative;
      font-size: 24px;
      top: 0;
      left: 24px;
      background: linear-gradient(353deg, #9356dc -11.44%, #ff79da 123.93%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
}
.loader {
  background: linear-gradient(
    to bottom right,
    $fonctionnement-second-color,
     #ff79da 123.93%
  );
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  gap: 30px;
  top: 0;
  left: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: loaderAN ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}
.loader span img {
  font-family: "Shrikhand", serif;
  font-size: 65px;
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(320deg)
  brightness(102%) contrast(107%);
}
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}
.spinner2 {
  height: 60px;
  width: 60px;
  border: 6px solid;
  border-color: purple transparent purple transparent;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  animation: scalanim 2s linear infinite;
}
@keyframes scalanim {
  0% {
    scale: 1;
  }
  50% {
    scale: 2;
  }
  100% {
    scale: 1;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loaderAN {
  0% {
    opacity: 1;
    visibility: visible;
  }
  25% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes colorchange {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
