@import "/scss/utils/mixin.scss";
@import "/scss/utils/variable.scss";
@media screen and (max-width: 600px) {
  .footer {
    background: $footer-color;
    color: white;
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    &__logo {
      width: 30%;
      height: 20%;
      filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(320deg)
        brightness(102%) contrast(107%);
    }
    &__content {
      list-style: none;
      padding: 0;
    }
    &__list {
      line-height: 25px;
    }
    &__icon {
      width: 9px;
      margin-right: 15px;
    }
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .footer {
    @include footer-large;
    &__logo {
      height: 27%;
      filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(320deg)
        brightness(102%) contrast(107%);
    }
    &__content {
      @include footer-large-content
    }
    &__list {
      line-height: 25px;
    }
    &__icon {
      width: 9px;
      margin-right: 15px;
    }
  }
}
@media screen and (min-width: 1025px) {
  .footer {
    @include footer-large;
    &__logo {
      height: 27px;
      filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(320deg)
        brightness(102%) contrast(107%);
    }
    &__content {
     @include footer-large-content
    }
    &__list {
      line-height: 25px;
    }
    &__icon {
      width: 9px;
      margin-right: 15px;
    }
  }
}
