@import "/scss/utils/mixin.scss";
@import "/scss/utils/variable.scss";
@media screen and (max-width: 600px) {
  .header {
    background-color: white;
    width: 100%;
    @include column-center-content;
    &__logo {
      @include header-logo;
    }
    &__location {
      @include header-location;
      &__icon {
        margin-right: 15px;
      }
    }
  }
}
@media screen and (min-width: 601px) and (max-width: 1025px) {
  .header {
    width: 100%;
    @include row-wrap-content;
    &__logo {
      @include header-logo;
    }
    &__location {
      @include header-location;
      &__icon {
        margin-right: 15px;
      }
    }
  }
}
@media screen and (min-width: 1025px) {
.header {
  width: 100%;
  @include row-wrap-content;
  &__logo {
    @include header-logo;
  }
  &__location {
    @include header-location;
    box-shadow: none;
    &__icon {
      margin-right: 15px;
    }
  }
}
}